:root {
    --primary-color: #183153;
    --grey-color: #d3d1d8fc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    /* background-color: var(--primary-color);*/
}
body
{
    background-color: var(--grey-color);
}

.container {
    width: 100%;
    height: auto;
    background-color: var(--grey-color);
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.subcontainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-page {
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    box-shadow: 0 0 10px var(--primary-color);
    margin-top: 30px;
    padding-bottom: 20px;
}

.title-text {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;*/
    font-size: x-large;
    font-weight: 800;
    color: var(--primary-color);
    margin: 10px 0;
    font-family: Algerian;
}

.input-box
{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 10px;
}

.input-box input
{
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    outline: none;
    font-size: medium;
}

.login-btn-contanier {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    margin-top: 20px;
}
.login-as
{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.login-as p
{
    display: flex;
    padding-left: 20px;
    padding-bottom: 10px;
    color: var(--primary-color);
    font-size: larger;
}

.login-btn {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 90%;
    height: auto;
    cursor: pointer;
    border-radius: 8px;
    font-size: 15px;
    color: var(--primary-color);
    padding: 10px 0;
    margin: 5px 5px;
    border: 1px solid var(--primary-color);
}

button:hover {
    color: #fff;
    background-color: var(--primary-color);
}

@media screen and (max-width: 480px)
{
    .subcontainer
    {
        width: 100%;
    }
    
    .login-page
    {
        width: 90%;
    }
}


@media screen and (max-width: 750px)
{
    .subcontainer
    {
        width: 90%;
        margin-top: 100px;
    }
}